.rom-bear{
    background: transparent url("https://raw.githubusercontent.com/liaob/Raining-Bears/master/images/pinkrila.gif") no-repeat;
    }
body{
    overflow-x: hidden;
    }
.rain--item{
    height: 100px;
    width: 100px;
    background-size: contain;
    display: block;
    position: absolute;
    top:-200px;
    z-index:9999999;
    }